.footer {
    background-color: var(--color-tempora);
    height: 10vh;
    margin-top: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.icon {
    color: white;
    font-size: 2.5rem; 
    margin: 0 15px; 
    transition: var(--transition); 
}

.icon:hover {
    color: #ccc;
}

@media screen and (max-width: 1024px) {
    .footer {
        height: 12vh; 
    }

    .icon {
        font-size: 2rem; 
        margin: 0 10px;  
    }
}

@media screen and (max-width: 600px) {
    .footer {
        height: 15vh;
    }

    .icon {
        font-size: 1.8rem;
        margin: 0 8px;
    }
}